<div id="corps">
<style>

th {
	color: blue;
}

td {
	border: solid black 1px;
}


</style>


<h1>Bienvenue sur la page de gestion des réservations des clients</h3>

	<table>
  		<tr>
	       	<th>Id du panier</th>
	       	<th>Client</th>
	       	<th>Création</th>
	       	<th>Validé</th>
	       	<th>Validation</th>

	  	</tr>

	  		<% @paniers.each do |p| %>

		  		<% id_client = p.user_id %>
		  		<% nom_client = p.user.nom %>
		  		<% prenom_client = p.user.prenom %>
	  			<tr>
			       	<td> <li><%= link_to p.id,   panier_path(p.id) %></li>
			    
			       	<td> <a href = "/users/<%=id_client%>"><%= id_client %> <%= nom_client %> <%= prenom_client %></a>

			       	<td> <%= p.created_at %>

			       	<td> <%= p.validated %>

			       	<td>	<% if p.validated? %> 	
				       			<%= form_tag("/edit", method: "get") do %>
							  	<%= hidden_field_tag(:id, p.id) %>
							  	<%= submit_tag("Confirmation") %>
								<% end %>
							<%end%>
			<% end %>
	</table>
</div>