<div id="corps">
	<h1>Mon panier</h1>

<% sum = 0 %>

<% @panier.reservations.each do |res| %>
	<% article = Article.find(res.article_id) %>

	<p>
   		<a href="/articles/<%= article.id %>"><%= article.title %></a> 
   		<%= form_tag("/edit", method: "get") do %>
			<%= hidden_field_tag(:article_id, article.id) %>
			<%= number_field_tag(:quantity, res.quantity, :min =>1, :max => 5) %>
			 x <%= article.price%>€ = <%= article.price * res.quantity%> €
			<% sum = sum + article.price * res.quantity %> 
		  	<%= submit_tag("Edit") %>
	  	<%end%>

		<%= form_tag("/destroy", method: "get") do %>
		<% if res.class == Clothe %>
			  <%= hidden_field_tag(:product_id, res.product_id) %>
			  <%= hidden_field_tag(:product_type, "clothe") %>
		  <%else%>
			  <%= hidden_field_tag(:product_id, res.product_id) %>
			  <%= hidden_field_tag(:product_type, "other") %>

		  <%end%>
		  <%= submit_tag("Enlever du panier") %>
	  	<%end%>
	</p>


<%end%>

<p>
	Total: <%= sum %> €

		<%= form_tag("/flush", method: "get") do %>
		  <a id="clickme" class="btn btn-primary">Vider le Panier</a></br>
		  <p id="sure" style="display:none">Etes vous sur ? 
		  	<input class ="btn" type="submit" name="Oui" value="Oui">
		  	<a href="/panier" class ="btn">Non</a>
		  </p>
	  	<%end%>

</p>




  <script>
  	var clicked = false;
    var element = document.getElementById('clickme');
    var sure = document.getElementById('sure');
 
	  element.onclick = function() {

	  	if (clicked) {
	  		sure.style.display = 'none';



		}
		else {
			sure.style.display = 'inline';

		}

		clicked=!clicked;

	  };
  </script>

      
</div>