<div id="corps">

	<div id="monpanier">

		<div class="titre_categorie">
			<h1>Mon panier</h1>
 		</div>
<% sum = 0 %>

<table>
	<tr>
		<th class="first">Nom du produit</th>
		<th>Prix unitaire</th>
		<th>Quantite</th>
		<th>Sous-total</th>
		<th class="last">Retirer du panier</th>
	</tr>

<% @panier.reservations.each do |res| %>
	<% article = Article.find(res.article_id) %>

	
	<tr>
		<td>
			<div class="image">
				<%= image_tag("pikachu.png", :size => "70x85") %>
    		</div>

    		<div class="titre">
    			<a href="/articles/<%= article.id %>"><%= article.title %></a> 
    		</div>
		</td>

		<td>
			<%= article.price %> €
		</td>

		<td>
			<div class="numberglobal">
			<%= form_tag("/edit", method: "get") do %>
					<%= hidden_field_tag(:article_id, article.id) %>
			<div class="number">
					<%= number_field_tag(:quantity, res.quantity, :min =>1, :max => 5) %>
			</div>
					<% sum = sum + article.price * res.quantity %> 
				<br />
			<div class="numberedit">
			  		<%= submit_tag("Edit") %>
		 	</div>	  		
		  		<%end%>
		  	</div>
		 
	 	</td>

	  	<td>
	  		<%= article.price*res.quantity%> €

	  	</td>

	  	<td>
	  		<%= image_tag("delete.png", :size =>"25x25")%>
	  		<%= form_tag("/destroy", method: "get") do %>
					  		
			  		<%= hidden_field_tag(:article_id, article.id) %>

		  	
		  	<%= submit_tag("Enlever du panier") %>
	  		<%end%>
		</td>
	  	</tr>

	<%end%>
</table>

<div class="total">
<p>
	Total: <%= sum %> €

		<%= form_tag("/flush", method: "get") do %>
		  <a id="clickme" class="btn btn-primary">Vider le Panier</a></br>
		  <p id="sure" style="display:none">Etes vous sur ? 
		  	<input class ="btn" type="submit" name="Oui" value="Oui">
		  	<a href="/panier" class ="btn">Non</a>
		  </p>
	  	<%end%>

</p>
</div>

  <script>
  	var clicked = false;
    var element = document.getElementById('clickme');
    var sure = document.getElementById('sure');
 
	  element.onclick = function() {

	  	if (clicked) {
	  		sure.style.display = 'none';



		}
		else {
			sure.style.display = 'inline';

		}

		clicked=!clicked;

	  };
  </script>


</div>
</div>