<div id="corps">

	<div id="monpanier">
<% sum = 0 %>

		<div class="titre_categorie">
			<h1>Mon panier</h1>
 		</div>

<table>
	<tr>
		<th class="first">Nom du produit</th>
		<th>Prix unitaire</th>
		<th>Quantite</th>
		<th>Sous-total</th>
		<th class="last">Retirer du panier</th>
	</tr>

<% @panier.reservations.each do |res| %>
	<% article = Article.find(res.article_id) %>

	
	<tr>
		<td>
			<div class="image">
				<%= image_tag("pikachu.png", :size => "70x85") %>
    		</div>

    		<div class="titre">
    			<a href="/articles/<%= article.id %>"><%= article.title %></a> 
    		</div>
		</td>

		<td>
			<%= article.price %> €
		</td>

		<td>
			<div class="numberglobal">
			<%= form_tag("/edit", method: "get") do %>
					<%= hidden_field_tag(:article_id, article.id) %>
			<div class="number">
					<%= number_field_tag(:quantity, res.quantity, :min =>1, :max => 5) %>
			</div>
					<% sum = sum + article.price * res.quantity %> 
				<br />
			<div class="numberedit">
			  		<%= submit_tag("Edit") %>
		 	</div>	  		
		  		<%end%>
		  	</div>
		 
	 	</td>

	  	<td class="strong">
	  			<%= article.price*res.quantity%> €
	  	</td>

	  	<td>
	  		
	  		<%= form_tag("/destroy", method: "get") do %>
					  		
			  		<%= hidden_field_tag(:article_id, article.id) %>

		  		<div class="delete">
		  			<%= submit_tag("") %>
	  			</div>
	  		<%end%>

		</td>
	  	</tr>

	<%end%>
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class="sumtotal">Total: <strong><%= sum %> €</strong></th>
		<th class="vider">
			<%= form_tag("/flush", method: "get") do %>
				<div class="clearpanier">
		  			<a id="clickme" class="btn btn-primary">Vider le Panier</a>
				</div>
				<div class="sur">
					
			  		<p id="sure" style="display:none"><br />Etes vous sur ? <br /> 

			  			<input class ="sure" type="submit" name="Oui" value="Oui">
			  			<a href="/panier" class ="sure">NON</a>
			  		</p>
		  		</div>
		  	<%end%>
	  </th>
	</tr>
</table>


<div class="total">
<p>
	Confirmer votre commande
</p>
</div>

  <script>
  	var clicked = false;
    var element = document.getElementById('clickme');
    var sure = document.getElementById('sure');
 
	  element.onclick = function() {

	  	if (clicked) {
	  		sure.style.display = 'none';



		}
		else {
			sure.style.display = 'inline';

		}

		clicked=!clicked;

	  };
  </script>


</div>
</div>