<h1>Panier du client</h1>

<% sum = 0 %>

<% @panier.reservations.each do |res| %>
	<% article = Article.find(res.article_id) %>

	<p>
   		<a href="/articles/<%= article.id %>"><%= article.title %></a> 
   		<%= form_tag("/edit", method: "get") do %>
			<%= hidden_field_tag(:article_id, article.id) %>
			<%= number_field_tag(:quantity, res.quantity, :min =>1, :max => 5) %>
			 x <%= article.price%>€ = <%= article.price * res.quantity%> €
			<% sum = sum + article.price * res.quantity %> 
		  	<%= submit_tag("Edit") %>
	  	<%end%>


	</p>


<%end%>

<p>
	Total: <%= sum %> €

