<div id="corps">
<% sum = 0 %>
<% id_client = @panier.user_id %>
<% nom_client = @panier.user.nom %>
<% prenom_client = @panier.user.prenom %>

<h1>Panier de <a href = "/users/<%= id_client%>"><%= nom_client%> <%= prenom_client %></a></h1>

<% @panier.reservations.each do |res| %>
	<% article = Article.find(res.article_id) %>

	<p>
   		<a href="/articles/<%= article.id %>"><%= article.title %></a> 
			 x <%= article.price%>€ = <%= article.price * res.quantity%> €
			<% sum = sum + article.price * res.quantity %> 
	</p>


<%end%>

<p>
	Total: <%= sum %> €

</div>