<div class="login">

    <h2>Sign up</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="normal">
      <%= f.label :nom %><br />
      <%= f.text_field :nom %>
      <br />
    </div>

    <div class="normal">
      <br />
      <%= f.label :prenom %><br />
      <%= f.text_field :prenom %>
      <br />
    </div>

    <div class="normal">
        <br />
      <%= f.label :adresse %><br />
      <%= f.text_field :adresse %>
    
    </div>

    <div class="normal">
      <br />
      <%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %>
      
    </div>

    <div class="normal">
      <br />
      <%= f.label :password %><br />
      <%= f.password_field :password %>
      
    </div>

    <div class="normal">
      <br />
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
      
    </div>

    <div class="button_login">
      <div>
        <br />
        <%= f.submit "Sign up" %>
      </div>
    </div>
  <% end %>

  <div class="autre">
    <br />
    <%= render "devise/shared/links" %>
  </div>
</div>