<div class="thumbnail">
    <h3><a href="articles/<%= @f.id %>"><%= @f.title %></a></h3>
    <p><%= @f.description %></p>
    <p><strong>Prix : <%= @f.price %>€</strong></p>
    <% if @f.clothes.any? %>
    	<p>Taille disponible :
    	<% @f.clothes.each do |c|%>
    		<%= c.size %> 
    	<% end %>
    </p>
    <p>Disponible en:
    	<ul>
    	<% @f.clothes.each do |c|%>
    		<li><%= c.size %> / <%= c.color %></li>
    	<% end %>
    </ul>
    </p>
    <% end %>
    <a href="#">Ajouter au panier</a>
  </div>