<div id="gestion">
  <div class="new_article">
  <% @type_art = Article.find(:all, :select => 'DISTINCT type_art')%>
  <h1> Modifier un article </h1>
  <h3><%= @article.title %></h3>
  <br />
  <p>
  	<%=form_tag(article_path(@article.id), method: :put) do %>
	
    <div class="formulaire">

      <div class="champs">
        Description :
      </div>
      <div class="box_description">
        <%= text_field_tag(:description, @article.description) %>
        <br />
      </div>

      <div class="new_article_type">
        <div class="champs">
          <br />
          Type :
        </div>
        <div class="deroulant">
          <div id="field">
          <%= collection_select(:article, :type_art, @type_art, :type_art, :type_art, options ={:prompt => @article.type_art}, :id =>"type_art")%>
          </div>
        </div>
        <a id="change">Cliquez ici pour changez la méthode de selection du type</a>
        <br />
      </div>

      <div class="champs_titre_prix">
        <br />
     		Prix :
      </div>
      <div class="champs_prix">
        <%= text_field_tag(:price, @article.price) %>
      </div>
      <div class="devise">
        €
      </div>

      <div class="button_soumettre">        
    		<%= submit_tag("Modifier") %>

      </div>
	<% end %>
</p>



<p>
	<% if @article.type_art =="Vetement" %>
	<%= render '/clothes/new' %>
	<%= render '/clothes/delete' %>
	<%end%>
</p>

  <script>
    var clicked = false;
    var element = document.getElementById('change');
    var field = document.getElementById('field');
    var child = document.getElementById('type_art');

    var newField = document.createElement('input');
    newField.type="text";
    newField.name="article[type_art]"
 
    element.onclick = function() {

      if (!clicked) {
        field.removeChild(child);
        field.appendChild(newField);
        
      }

      else {
        location.reload();
      }


      clicked=!clicked;

    };
  </script>


  </div>
</div>