<style>



td {
	border: solid black 1px;
}


</style>

<h1>Bienvenue sur la page de gestion des articles de la boutique</h3>

	<p><a href="/articles/new">Creer un nouvel article</a><br /></p>

	<table>
  		<tr>
	       	<th>Titre</th>
	       	<th>Desciption</th>
	       	<th>Prix</th>
	       	<th>Type</th>
	       	<th>Combinaisons disponibles</th>
	       	<th>Stock</th>
	       	<th>Quantité réservée</th>
	       	<th>Quantité disponible</th>
	       	<th>Editer l'article</th>
	       	<th>Supprimer</th>
	  	</tr>

	  		<% @articles.each do |art| %>
	  	
	  			<tr>
			       	<td> <li><%= link_to art.title,   article_path(art.id) %></li>
			    
			       	<td> <%= art.description %> 
			    
			       	<td> <%= art.price%>€
			    
			       	<td> <%= art.type_art %>
			    
			       	<td>	<% if art.clothes.any? %>
			       				<% @vet = art.clothes.find(:all)%>
				       			<% @vet.each do |v| %>
				       				<%= v.color %>
				       				<%= v.size%>
				       				<br />
				       			<% end %>
	        				<% end %> 

	        		<td>	

	        			<% if art.clothes.any? %>
			       				<% @vet = art.clothes.find(:all)%>
				       			<% @vet.each do |v| %>
				       			<%= v.stock %>
				       				<br />

				       			<%= form_for(v) do |clo| %>
				       				<%= clo.label :stock %>
				        			<%= clo.number_field :stock %>
				        			<div class="actions">
								      	<%= clo.submit "Soumettre" %>
								    </div>
				        			<% end %>
				        		
				        		<% end %>


				       			<% else %>
				       			<% oth = Other.where('article_id' => art.id) %>
				       			<%= oth.first.stock %>
	        				<% end %> 
	        				



	        		<td>	<% if art.clothes.any? %>
			       				<% @vet = art.clothes.find(:all)%>
				       			<% @vet.each do |v| %>
				       				<%= v.reserve %>
				       				<br />
				       			<% end %>

				       			<% else %>
				       			<% oth = Other.where('article_id' => art.id) %>
				       			<%= oth.first.reserve %>
	        				<% end %> 
	        				

	        	
	        		<td>	<% if art.clothes.any? %>
			       				<% @vet = art.clothes.find(:all)%>
				       			<% @vet.each do |v| %>

				       				<% if !(v.stock.nil?) %>
				       				 <%= v.stock %> - <%= v.reserve %> = <%= v.stock - v.reserve %> 
				       				<%end%>

				       				<br />
				       			<% end %>
	        				
				       			<% else %>
				       			<% oth = Other.where('article_id' => art.id) %>
				       			<%= oth.first.stock %> - <%= oth.first.reserve %> = <%= oth.first.stock - oth.first.reserve %>
	        				<% end %>       	


	        		<td> <li><%= button_to "Modifier",   edit_article_path(art.id), :method => :get %></li>


	        		<td>
	        			<%= form_tag(article_path(art.id), method: "delete") do %>      
	        			<%= hidden_field_tag(:id, art.id) %>
					  	<%= submit_tag("Supprimer") %>
						<% end %>
				</tr>
		
			<% end %>
	</table>