<div id="corps">
	<div id="gestion">

<h1>Gestion des articles</h3>

	<p class="creerarticle"><a href="/articles/new">Creer un nouvel article</a> <br /></p>

	<table>
  		<tr>
	       	<th>Titre</th>
	       	<th>Desciption</th>
	       	<th>Prix</th>
	       	<th>Type</th>
	       	<th>Combinaisons disponibles</th>
	       	<th>Stock</th>
	       	<th>Quantité réservée</th>
	       	<th>Quantité disponible</th>
	       	<th></th>
	       	<th></th>
	  	</tr>

	  		<% @articles.each do |art| %>
	  	
	  			<tr>
			       	<td class="gestiontitre"> 
			       			<%= link_to art.title,   article_path(art.id) %>
			    		
			    	</td>

			       	<td class="gestiondescription"> <%= art.description %> 
			    	</td>

			       	<td class="gestionprix">
			       		<div class="gestionprix"><%= art.price%>€</div>
			       	</td>
			    
			       	<td class="gestiontype">
			       		<%= art.type_art %></div>
			       	</td>
			    
			       	<td class="gestioncombi">	<% if art.clothes.any? %>
			       				<% @vet = art.clothes.find(:all)%>
				       			<% @vet.each do |v| %>
				       				<%= v.color %>
				       				<%= v.size%>
				       				<br />
				       			<% end %>
	        				<% end %> 
	        			</td>

	        		<td class="gestionstock">	

	        			<% if art.clothes.any? %>
			       				<% @vet = art.clothes.find(:all)%>
				       			<% @vet.each do |v| %>
				       			<%= v.stock %>
				       				<br />

				       			
				        		
				        		<% end %>


				       			<% else %>
				       			<% oth = Other.where('article_id' => art.id) %>
				       			<%= oth.first.stock %>
	        				<% end %> 
	        				
					</td>


	        		<td class="gestionreserve">	<% if art.clothes.any? %>
			       				<% @vet = art.clothes.find(:all)%>
				       			<% @vet.each do |v| %>
				       				<%= v.reserve %>
				       				<br />
				       			<% end %>

				       			<% else %>
				       			<% oth = Other.where('article_id' => art.id) %>
				       			<%= oth.first.reserve %>
	        				<% end %> 
	        				
	        			</td>
	        	
	        		<td class="gestiondispo">	<% if art.clothes.any? %>
			       				<% @vet = art.clothes.find(:all)%>
				       			<% @vet.each do |v| %>

				       				<% if !(v.stock.nil?) %>
				       				 <%= v.stock %> - <%= v.reserve %> = <%= v.stock - v.reserve %> 
				       				<%end%>

				       				<br />
				       			<% end %>
	        				
				       			<% else %>
				       			<% oth = Other.where('article_id' => art.id) %>
				       			<%= oth.first.stock - oth.first.reserve %>
	        				<% end %>       	

	        		</td>

	        		<td><div class="gestionmodifier"> 
	        			<%= button_to "Modifier",   edit_article_path(art.id), :method => :get %>
	        		</div>

	        		</td>

	        		<td>
	        			<%= form_tag(article_path(art.id), method: "delete") do %>      
	        			<%= hidden_field_tag(:id, art.id) %>
	        			<div class="delete">
					  		<%= submit_tag("") %>
					  	</div>
						<% end %>
</td>

				</tr>
		
			<% end %>
	</table>

</div>
</div>