<h1>Bienvenue sur la page de gestion des articles de la boutique</h3>

	<a href="/article">Creer un nouvel article</a>

	<table>
  		<tr>
	       	<th>Titre</th>
	       	<th>Desciption</th>
	       	<th>Prix</th>
	       	<th>Type</th>
	       	<th>Combinaisons disponibles</th>
	  	</tr>
	  		<% @articles.each do |art| %>
	  			<tr>
			       	<td> <%= art.title %> 
			       	<td> <%= art.description %>
			       	<td> <%= art.price%> 
			       	<td> <%= art.type_art %>
			       	<td>	<% if art.clothes.any? %>
			       				<% @couleur = art.clothes.find(:all, :select => 'DISTINCT color')%>
				       			<% @couleur.each do |col| %>
				       				<%= col %>
				       				<% @taille = art.clothes.find(:size, :color => 'col') %>
				       				<% for tai in @taille %>
				       					<% tai.size %>
				       				<% end %>
				       			<% end %>
	        				<% end %>
			  	</tr>
	  		<% end %>
	</table>