<h1>Tous les articles de la boutique</h1>
<% @articles.each do |f| %>

                <div class="thumbnail">
                    <h3><%= f.title %></h3>
                    <p><%= f.description %></p>
                    <p><strong>Prix : <%= f.price %>€</strong></p>
                    <% if f.clothes.any? %>
                    	<p>Taille disponible :
                    	<% f.clothes.each do |c|%>
                    		<%= c.size %> 
                    	<% end %>
                    </p>
                    <p>Disponible en:
                    	<ul>
                    	<% f.clothes.each do |c|%>
                    		<li><%= c.size %> / <%= c.color %></li>
                    	<% end %>
                    </ul>
                    </p>
                    <% end %>
                  </div>

<% end %>
