
<% @type_art = Article.find(:all, :select => 'DISTINCT type_art')%>


<p>
  <%= form_for @article do |f| %>
    <%= render 'error_messages' %>
    <%= f.label :titre %>
      <%= f.text_field :title %>
    <%= f.label :description %>
      <%= f.text_area :description, size: "60x12" %>
    <%= f.label :prix %>
      <%= f.text_field :price %>
   
    <%= f.label :type_article %>
    <div id="field">
      <%= collection_select(:article, :type_art, @type_art, :type_art, :type_art, options ={:prompt => "-Type de l'article"}, :id =>"type_art")%>
    </div>
    <a id="change">Cliquez ici pour changez la méthode de selection du type</a>
  </br>


    </br>

    <div class="actions">
      <%= f.submit "Soumettre" %>
    </div>
  <% end %>
</p>

  <script>
    var clicked = false;
    var element = document.getElementById('change');
    var field = document.getElementById('field');
    var child = document.getElementById('type_art');

    var newField = document.createElement('input');
    newField.type="text";
    newField.name="article[type_art]"
 
    element.onclick = function() {

      if (!clicked) {
        field.removeChild(child);
        field.appendChild(newField);
        
      }

      else {
        element.href="/articles/new";
      }


      clicked=!clicked;

    };
  </script>