<div id="corps">
<% @type_art = Article.find(:all, :select => 'DISTINCT type_art')%>


<p>

  <%=form_tag("/articles", method: "create") do %>
  
    Titre: <br />
    <%= text_field_tag(:title) %> <br />

    Description:<br />
    <%= text_field_tag(:description) %><br />

    Prix : <%= text_field_tag(:price) %>€<br />

        <div id="field">
      <%= collection_select(:article, :type_art, @type_art, :type_art, :type_art, options ={:prompt => "-Type de l'article"}, :id =>"type_art")%>
        </div>

    <a id="change">Cliquez ici pour changez la méthode de selection du type</a> <br />

    Quantité: <%= number_field_tag(:stock) %> <br />

      <%= submit_tag("Soumettre") %>

  <% end %>
</p>





  <script>
    var clicked = false;
    var element = document.getElementById('change');
    var field = document.getElementById('field');
    var child = document.getElementById('type_art');

    var newField = document.createElement('input');
    newField.type="text";
    newField.name="article[type_art]"
 
    element.onclick = function() {

      if (!clicked) {
        field.removeChild(child);
        field.appendChild(newField);
        
      }

      else {
        element.href="/articles/new";
      }


      clicked=!clicked;

    };
  </script>
</div>