<% provide(:title, @article.title) %>
<h1><%= @article.title %></h1>
<p><%= @article.description %></p>
<p>Prix : <%= @article.price %>€</p>

<div class="span8">
    <% if @article.clothes.any? %>
      <h3>L'article <%= @article.title%> est un vetement (<%= @article.clothes.count %>)</h3>
     
      <ol class="clothes">
        Description du vetement:

<p>Disponible en:
   	<ul>
        
        	
        	<% sizes = @article.clothes.all.map{ |clothe| clothe.size }%>
        		<% size = sizes.uniq! %>
        		<% size.each do |s|  %>
        			<%= s %>
        		<% end %>


        
    </ul>
</p>


    </ol>

    <% end %>
</div>


