<% provide(:title, @article.title) %>
<h1><%= @article.title %></h1>
<p><%= @article.description %></p>
<p>Prix : <%= @article.price %>€</p>

<div class="span8">
    <% if @article.clothes.any? %>
      <h3>L'article <%= @article.title%> est un vetement (<%= @article.clothes.count %>)</h3>
     
      <ol class="clothes">
        Description du vetement:

<% sizes = @article.clothes.all.map{ |clothe| clothe.size }.uniq %>
<% sizeu = sizes.uniq! %>


<p>Disponible en:
   	<ul>
<%= collection_select(:clothe, :id, @article.clothes, :id, :size, options ={:prompt => "-Choisir une taille"}, :class =>"taille") %>
    </ul>
</p>

        	

        		





        
   


    </ol>

    <% end %>
</div>


