<div id= "banniere">
  <header class="navbar navbar-fixed-top navbar-inverse"> 
    <nav>
       
 <div id="titre">
                <%= image_tag("logoinedite.png", :size => "300x300") %>
        </div>
        <div class="bouton">
            <ul>

              <li class="first"><%= link_to "Help",    help_path %></li>
              <li><%= link_to "Home",    root_path %></li>
             <li>
                <%= link_to "Panier", '/panier', :class => 'navbar-link'  %>
              </li>
              <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>

            </ul>
         </div> 
      

        <% if user_signed_in? %>

         
            <div class = "mail">
              <ul>
                <h5><li>Logged in as <strong ><%= current_user.email %></strong></li></h5>
                <h5>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li> 
                </h5>
              </ul>
            </div>
           

           
         
             
        <% else %>

            <div class="mail">
              <ul>
                <h5>
                <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li></h5>
                <h5>
                <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li></h5>
              </ul>
            </div>
          

        <% end %>
        

      

      

        </nav>
    </header>
</div>

<div id="transition-header">
</div>

